<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wordle Helper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <div class="container">
    <h1 class="title">Wordle Helper</h1>
    <form action="{{ url_for('submit_letters') }}" method="POST">
      <div class="letter-input">
        <input id="input-box-1" type="text" name="letter[]" class="letter-field" maxlength="1">
        <input id="input-box-1-color" type="hidden" name="color[]" class="color-field" value="grey">
        <input id="input-box-2" type="text" name="letter[]" class="letter-field" maxlength="1">
        <input id="input-box-2-color" type="hidden" name="color[]" class="color-field" value="grey">
        <input id="input-box-3" type="text" name="letter[]" class="letter-field" maxlength="1">
        <input id="input-box-3-color" type="hidden" name="color[]" class="color-field" value="grey">
        <input id="input-box-4" type="text" name="letter[]" class="letter-field" maxlength="1">
        <input id="input-box-4-color" type="hidden" name="color[]" class="color-field" value="grey">
        <input id="input-box-5" type="text" name="letter[]" class="letter-field" maxlength="1">
        <input id="input-box-5-color" type="hidden" name="color[]" class="color-field" value="grey">
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
    <form method="POST" action="/clear/">
      <button type="submit" class="clear-button">Clear</button>
    </form>
  </div>
  <table class="results-table">
      <thead>
        <tr>
          <th>Guess</th>
          <th>Index</th>
          <th>Recommended Guesses</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created}}</td>
            <td>{{ task.recomends }}</td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
